@model IEnumerable<Datalayer.Entities.User>

@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Cartoon Dating Network</h1>
    <h3>The place to find your love</h3>
</div>


<div class="row">
    <h2>Found someone in your taste?</h2>
    <h3>Make sure to visit their page by clicking on them!</h3>
    <br />
    
    @*Listar tre random personer från databasen, dock inte folk som inte är sökbara*@
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <div>
                <a href="@Url.Action("FriendProfile", "Friend", new { id = item.Id } )">
                    <img class="img-responsive img-rounded indexpic" src=@item.PictureURL />
                </a>
                <h3>@item.Firstname @item.Lastname</h3>
            </div>
        </div>
    }
</div>
