
@{
    ViewBag.Title = "UnspecifiedError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UnspecifiedError</h2>

<h3> An Unspecified Error Occured, please contact your local mvc.net guru for more information</h3>